JEV_API_KEY=
SUPABASE_URL=
SUPABASE_PUBLISHABLE_KEY=
SUPABASE_SECRET_KEY=
ANALYZER_VERSION=
ANALYSIS_FRESHNESS_SECONDS=
ANALYSIS_NEW_URL_LIMIT=
ANALYSIS_QUOTA_WINDOW_SECONDS=
PUBLIC_SHARE_ORIGIN=
PUBLIC_APP_URL=
AZURE_SUBSCRIPTION_ID=
AZURE_RESOURCE_GROUP=
CRAWLER_AZURE_JOB_NAME=
CRAWLER_TRIGGER_COOLDOWN_SECONDS=
OTEL_EXPORTER_OTLP_ENDPOINT=
OTEL_EXPORTER_OTLP_HEADERS=
ABUSE_SIGNAL_SECRET=
ABUSE_CLIENT_IP_SOURCE=none
JOB_RESOLVER_MAX_CANDIDATES=
JOB_RESOLVER_ATS_SOURCES=
JOB_RESOLVER_FETCH_TIMEOUT_MS=
JOB_RESOLVER_JEV_TIMEOUT_MS=
